!URxvt.font:xft:agave Nerd Font:pixelsize=14, xft:DejaVu Sans Mono Nerd Font:pixelsize=14, xft:Noto Color Emoji:pixelsize=14
URxvt.font:xft:Lilex:pixelsize=13:weight=medium, xft:DejaVu Sans Mono Nerd Font:pixelsize=13, xft:Noto Color Emoji:pixelsize=14
!URxvt.font:xft:Fixedsys Excelsior:pixelsize=14, xft:DejaVu Sans Mono Nerd Font:pixelsize=14
!URxvt.letterSpace: -3
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt*iso14755: false
URxvt*iso14755_52: false

URxvt*perl-ext-common: resize-font,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: Ctrl-1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

URxvt.cursorColor: #f8f8f2
URxvt*borderColor:  [100]#282a36

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

*.color66: #282a36
*color66:  #282a36
