!URxvt.font:xft:agave Nerd Font:pixelsize=14, xft:DejaVu Sans Mono Nerd Font:pixelsize=14, xft:Noto Color Emoji:pixelsize=14
URxvt.font:xft:Lilex:pixelsize=13:weight=medium, xft:DejaVu Sans Mono Nerd Font:pixelsize=13, xft:Noto Color Emoji:pixelsize=14
!URxvt.font:xft:Fixedsys Excelsior:pixelsize=14, xft:DejaVu Sans Mono Nerd Font:pixelsize=14
!URxvt.letterSpace: -3
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt*iso14755: false
URxvt*iso14755_52: false

URxvt*perl-ext-common: resize-font,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: Ctrl-1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

#define fg #d3c6aa
#define bg #2b3339

*foreground:        #d3c6aa
*background:        #2b3339
*.foreground:       #d3c6aa
*.background:       #2b3339
URxvt*foreground:   #d3c6aa
URxvt*background:   [100]#2b3339
URxvt*cursorColor:  #d3c6aa
URxvt*borderColor:  [100]#2b3339

*.color0: #2b3339
*color0:  #2b3339
*.color1: #e67e80
*color1:  #e67e80
*.color2: #a7c080
*color2:  #a7c080
*.color3: #dbbc7f
*color3:  #dbbc7f
*.color4: #7fbbb3
*color4:  #7fbbb3
*.color5: #d699b6
*color5:  #d699b6
*.color6: #8cc080
*color6:  #8cc080
*.color7: #53605c
*color7:  #53605c
*.color8: #9da9a0
*color8:  #9da9a0
*.color9:  #e67e80
*color9:   #e67e80
*.color10: #a7c080
*color10:  #a7c080
*.color11: #dbbc7f
*color11:  #dbbc7f
*.color12: #7fbbb3
*color12:  #7fbbb3
*.color13: #d699b6
*color13:  #d699b6
*.color14: #8cc080
*color14:  #8cc080
*.color15: #9da9a0
*color15:  #9da9a0

*.color66: #2b3339
*color66:  #2b3339

pmenu.faceName:xft:Lilex:pixelsize=13:weight=medium, xft:DejaVu Sans Mono Nerd Font:pixelsize=13, xft:Noto Color Emoji:pixelsize=14
pmenu.background: bg
pmenu.foreground: fg
pmenu.activeBackground: fg
pmenu.activeForeground: bg
pmenu.borderColor: #d699b6
